<nav class="navbar navbar-expand-lg color-nav navbar-dark" id="navbar">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand text-uppercase mr-5 text-white" href="/" id="logo">
            <img src="src/img/logo.png" height="22px" />
            Solução Diferencial
        </a>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">

                <a href="/" class="nav-item active text-white mr-2">
                    <li class="nav-item text-uppercase p-2">
                        Página inicial
                    </li>
                </a>

                <a href="/enem">
                    <li class="nav-item text-uppercase p-2 mr-2">
                        <span class="options text-white">
                            Enem
                        </span>
                    </li>
                </a>

                <a href="/reforco-escolar">
                    <li class="nav-item text-uppercase p-2 mr-2">
                        <span class="options text-white">
                            Reforço Escolar
                        </span>
                    </li>
                </a>

                <a href="/ensino-superior">
                    <li class="nav-item text-uppercase p-2 mr-2">
                        <span class="options text-white">
                            Superior
                        </span>
                    </li>
                </a>

            </ul>
        </div>

    </div>
</nav>